@model IEnumerable<Movies.Client.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get" asp-action="Search">
    <input type="text" name="filter" placeholder="Search by title or genre" value="@ViewBag.Filter" />
    <select name="orderBy" value="@ViewBag.OrderBy">
        <option value="asc" selected="@(ViewBag.OrderBy == "asc" ? "selected" : null)">Ascending</option>
        <option value="desc" selected="@(ViewBag.OrderBy == "desc" ? "selected" : null)">Descending</option>
    </select>
    <input type="number" name="perPage" min="0" placeholder="Per page (0 = all)" value="@ViewBag.PerPage" />
    <button type="submit">Search</button>
    <a href="/Movies" class="btn btn-secondary">Reset</a>
</form>

<hr />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
